<div fxLayout.xs="column" [hidden]="disableDetails" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill >
  <!--  <div class="col">-->
  <!--    <button  class="bg-primary m-1 btn btn-block" (click)="changeShowDetails()">-->
  <!--      <mat-icon>keyboard_backspace</mat-icon>-->
  <!--      Back-->
  <!--    </button>-->
  <!--  </div>-->
  <div  fxFlex="100" class="col" *ngIf="orderDetails" style="background-color: #e8c50e" >
    <table class="table"  *ngIf="orderDetails.length != 0">
      <thead>
      <tr>
        <th>SL No.</th>
        <th>Customer Name</th>
        <th>Order Number</th>
        <th>Job Details</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let data of orderDetails; let indexOfelement = index" >
        <td>{{indexOfelement+1}}</td>
        <td>{{data.person_name}}</td>
        <td >{{data.order_number}}</td>
        <td>
          <button  mat-icon-button color="primary" aria-label="Open Details" style="text-align: center" [routerLink]="['./bill_jobMaster_details',data.id]" (click)="disablePage()">
            <mat-icon>forward</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="orderDetails.length == 0">
      <h1 style="text-align: center; margin: 10px">NO JOB PLACED</h1>
    </div>
  </div>
</div>
<div [hidden]="!disableDetails" style="background-color: #c6538c">
  <router-outlet ></router-outlet>
</div>
<!--<div fxLayout.xs="column"  fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill >-->
<!--  <router-outlet ></router-outlet>-->
<!--</div>-->
