<!--<div style="background-color: white">-->
<!--  <h1>JOb </h1>-->
<!--  <pre>{{id}}</pre>-->
<!--  <pre>{{oneJobData | json}}</pre>-->
<!--</div>-->
<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id="jobDetail-div">
  <div fxLayout="column" fxFlex="40" class="mr-1" >
    <mat-card class="ml-2 mt-2">
    <div class="form-container">
      <!--      <button (click)="backFunction()">Back</button>-->
      <form [formGroup] = jobTaskForm>
        <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
          <label class="m-2">Job Number: {{job_number}}</label>
          <div class="container" fxLayout="row">
            <mat-form-field class="col-4">
              <input matInput placeholder="Material Name" formControlName="material_name">
            </mat-form-field>
            <mat-form-field class="col-4">
              <input matInput placeholder="Size" [readonly]="true" formControlName="size">
            </mat-form-field>
          </div>
          <mat-form-field class="col-4">
            <input  style ="text-align: right;" matInput placeholder="Quantity" formControlName="return_quantity">
          </mat-form-field>
        </div>
      </form>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" >
        <button mat-button  mat-stroked-button >save</button>
      </div>
    </div>
    </mat-card>
  </div>
  <div fxLayout="column" fxFlex="60" class="mr-1" style="background-color: white">
    <pre>{{oneJobData | json}}</pre>
  </div>
</div>
