#bill-div{
  background: white;
  width: 100%;
  overflow: hidden;
}
#bill-detail-table{
  border: 1px solid black;
  border-collapse: collapse;
}

#bill-detail-table th{
  border: 1px solid black;
  border-collapse: collapse;

}

.resultRow{
  //border-bottom: 1px solid black;
}
