<div fxLayout.xs="column"  fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill >
  <!--  <div class="col">-->
  <!--    <button  class="bg-primary m-1 btn btn-block" (click)="changeShowDetails()">-->
  <!--      <mat-icon>keyboard_backspace</mat-icon>-->
  <!--      Back-->
  <!--    </button>-->
  <!--  </div>-->
  <div  fxFlex="100" class="col" *ngIf="finishedJobData" style="background-color: #e8c50e" >
    <table class="table">
      <thead>
      <tr>
        <th>SL No.</th>
        <th>Job Number</th>
        <th>Karigarh Name</th>
        <th>Create Bill</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let data of finishedJobData; let indexOfelement = index" >
        <td>{{indexOfelement+1}}</td>
        <td >{{data.job_number}}</td>
        <td>{{data.person_name}}</td>
        <td>
          <button  mat-icon-button color="primary" aria-label="Open Details" style="text-align: center" >
            <mat-icon>forward</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
