<div fxLayout.xs="column"  fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill  >
<!--    <div class="col">-->
<!--      <button  class="bg-primary m-1 btn btn-block" (click)="backbtn()">-->
<!--        <mat-icon>keyboard_backspace</mat-icon>-->
<!--        Back-->
<!--      </button>-->
<!--    </div>-->
  <div  fxFlex="100" class="col" *ngIf="finishedJobData"style="background-color: violet"  >
    <table class="table">
      <thead>
      <tr>
        <th>SL No.</th>
        <th>Job Number</th>
        <th>Karigarh Name</th>
        <th>Status</th>
        <th>Create Bill</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let data of finishedJobData; let indexOfelement = index" >
        <td>{{indexOfelement+1}}</td>
        <td >{{data.job_number}}</td>
        <td>{{data.karigarh_name}}</td>
        <td>{{data.status}}</td>
        <td>
          <input type="checkbox" name="nameOfChoice" (click)="selectionForBill(data)" [disabled]="data.status == 'WORK IN PROGRESS'" >
        </td>
      </tr>
      </tbody>
    </table>
    <div  style="text-align: center">
      <button class="btn btn-info" aria-label=" Generate Bill" [disabled]="billDetailsData.length==0" (click)="generateBill()" >
        Generate Bill
      </button>
      <br>
      <br>
    </div>


  </div>
</div>
