<div fxLayout.xs="column" [hidden]="formTaskDiv" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id="job-div">
  <div fxLayout="column" fxFlex="40" class="mr-1" [hidden]="isShowJobMasterList">
    <mat-card class="ml-2 mt-2">

<!--         <label>{{jobNumber}}</label>-->
          <div class="form-container">

            <div class="container" fxLayout="row" fxLayoutAlign="start">

              <button class="col m-1" style="background-color:green"  mat-button mat-stroked-button  [disabled]="!isSendToTask" (click)="setTabData(2)">GR</button>
              <button class="col m-1" style="background-color: green" mat-button mat-stroked-button [disabled]="!isSendToTask" (click)="setTabData(3)">DS</button>
              <button class="col m-1" style="background-color: green" mat-button mat-stroked-button [disabled]="!isSendToTask" (click)="setTabData(4)">DR</button>
              <button class="col m-1" style="background-color: green" mat-button mat-stroked-button [disabled]="!isSendToTask" (click)="setTabData(5)">PS</button>
              <button class="col m-1" style="background-color: green" mat-button mat-stroked-button [disabled]="!isSendToTask" (click)="setTabData(6)">PR</button>
              <button class="col m-1" style="background-color: green" mat-button mat-stroked-button [disabled]="!isSendToTask" (click)="setTabData(7)">NR</button>

            </div>
          </div>
      <div class="form-container">
        <!--      <button (click)="backFunction()">Back</button>-->
        <form [formGroup] = jobTaskForm>
          <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <label class="m-2">Job Number: {{jobNumber}}</label>
            <div class="container" fxLayout="row">
              <mat-form-field class="col-4">
                <input matInput placeholder="Material Name" formControlName="material_name">
              </mat-form-field>
              <mat-form-field class="col-4">
                <input matInput placeholder="Size" [readonly]="true" formControlName="size">
              </mat-form-field>
            </div>
            <mat-form-field class="col-4">
              <input  style ="text-align: right;" matInput placeholder="Quantity" formControlName="return_quantity">
            </mat-form-field>
          </div>
        </form>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" >
          <button mat-button  mat-stroked-button (click)="onSubmit()">{{saveBtnName}}</button>
        </div>
      </div>
      </mat-card>
  </div>
  <div fxLayout="column" fxFlex="100" class="mr-1">
    <div class="row" style="align-content: center; text-align: center" >
      <div class="col-3" [hidden]="!(!goldReturn || !dalSubmit || !dalReturn || !panSubmit || !panReturn || !nitricReturn)"><button style="background-color: green" mat-button class="col-12" mat-stroked-button (click)="backFunction()" >Back</button></div>
    </div>
    <div class="jobTask-table-div" [hidden]="!goldReturn || !dalSubmit || !dalReturn || !panSubmit || !panReturn || !nitricReturn">
      <table class="table">
        <thead>
        <tr>
          <th>SL No.</th>
          <th>Job Number</th>
          <th>Quantity</th>
          <th>Size</th>
          <th>Send to Task</th>
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let data of savedJobsData ; let indexOfelement = index;">
          <td>{{indexOfelement+1}}</td>
          <td >{{data.job_number}}</td>
          <td >{{data.quantity}}</td>
          <td >{{data.size}}</td>
          <td>
            <button mat-icon-button color="primary" aria-label="Open Master" (click)="placeDetails(data)">
            <!-- <button mat-icon-button color="primary" aria-label="Open Master" [routerLink]="['/job_detail']" (click)="placeDetails(data)"> -->
              
              <mat-icon>forward</mat-icon>
            </button>
          </td>

        </tr>
        </tbody>
      </table>
    </div>

    <div fxLayout="column" style="background-color: white" [hidden]="goldReturn" fxFlex="60" class="mr-1">
      <!--    delete the style from div it's for testing -->
      <h1>goldReturn</h1>

      <div class="jobTask-table-div" >
        <table class="table">
          <thead>
          <tr>
            <th>SL No.</th>
            <!-- <th>Job Number</th> -->
            <th>Quantity</th>
            <th>Date</th>
            <!-- <th>Send to Task</th> -->
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let data of jobDetailsData ; let indexOfelement = index;">
            <td>{{indexOfelement+1}}</td>
            <!-- <td >{{data.job_number}}</td> -->
            <td>{{data.material_quantity}}</td>
            <td>{{data.created_at | date:"dd/MM/yyyy"}}</td>
            <!-- <td>
              <button mat-icon-button color="primary" aria-label="Open Master" (click)="placeDetails(data)">
                <mat-icon>forward</mat-icon>
              </button>
            </td> -->

          </tr>
          <tr>
            <td><b>Total</b></td>
            <td>{{sum}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div fxLayout="column" style="background-color: white" [hidden]="dalSubmit" fxFlex="60" class="mr-1">
      <!--    delete the style from div it's for testing -->
      <h1>dalSubmit</h1>

      <div class="jobTask-table-div" >
        <table class="table">
          <thead>
          <tr>
            <th>SL No.</th>
            <!-- <th>Job Number</th> -->
            <th>Quantity</th>
            <th>Date</th>
            <!-- <th>Send to Task</th> -->
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let data of jobDetailsData ; let indexOfelement = index;">
            <td>{{indexOfelement+1}}</td>
            <!-- <td >{{data.job_number}}</td> -->
            <td>{{data.material_quantity}}</td>
            <td>{{data.created_at | date:"dd/MM/yyyy"}}</td>
            <!-- <td>
              <button mat-icon-button color="primary" aria-label="Open Master" (click)="placeDetails(data)">
                <mat-icon>forward</mat-icon>
              </button>
            </td> -->

          </tr>
          <tr>
            <td><b>Total</b></td>
            <td>{{sum}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div fxLayout="column" style="background-color: white" [hidden]="dalReturn" fxFlex="60" class="mr-1">
      <!--    delete the style from div it's for testing -->
      <h1>dalReturn</h1>

      <div class="jobTask-table-div" >
        <table class="table">
          <thead>
          <tr>
            <th>SL No.</th>
            <!-- <th>Job Number</th> -->
            <th>Quantity</th>
            <th>Date</th>
            <!-- <th>Send to Task</th> -->
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let data of jobDetailsData ; let indexOfelement = index;">
            <td>{{indexOfelement+1}}</td>
            <!-- <td >{{data.job_number}}</td> -->
            <td>{{data.material_quantity}}</td>
            <td>{{data.created_at | date:"dd/MM/yyyy"}}</td>
            <!-- <td>
              <button mat-icon-button color="primary" aria-label="Open Master" (click)="placeDetails(data)">
                <mat-icon>forward</mat-icon>
              </button>
            </td> -->

          </tr>
          <tr>
            <td><b>Total</b></td>
            <td>{{sum}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div fxLayout="column" style="background-color: white" [hidden]="panSubmit" fxFlex="60" class="mr-1">
      <h1>panSubmit</h1>

      <div class="jobTask-table-div" >
        <table class="table">
          <thead>
          <tr>
            <th>SL No.</th>
            <!-- <th>Job Number</th> -->
            <th>Quantity</th>
            <th>Date</th>
            <!-- <th>Send to Task</th> -->
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let data of jobDetailsData ; let indexOfelement = index;">
            <td>{{indexOfelement+1}}</td>
            <!-- <td >{{data.job_number}}</td> -->
            <td>{{data.material_quantity}}</td>
            <td>{{data.created_at | date:"dd/MM/yyyy"}}</td>
            <!-- <td>
              <button mat-icon-button color="primary" aria-label="Open Master" (click)="placeDetails(data)">
                <mat-icon>forward</mat-icon>
              </button>
            </td> -->

          </tr>
          <tr>
            <td><b>Total</b></td>
            <td>{{sum}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div fxLayout="column"  style="background-color: white"[hidden]="panReturn" fxFlex="60" class="mr-1">
      <!--    delete the style from div it's for testing -->
      <h1>panReturn</h1>

      <div class="jobTask-table-div" >
        <table class="table">
          <thead>
          <tr>
            <th>SL No.</th>
            <!-- <th>Job Number</th> -->
            <th>Quantity</th>
            <th>Date</th>
            <!-- <th>Send to Task</th> -->
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let data of jobDetailsData ; let indexOfelement = index;">
            <td>{{indexOfelement+1}}</td>
            <!-- <td >{{data.job_number}}</td> -->
            <td>{{data.material_quantity}}</td>
            <td>{{data.created_at | date:"dd/MM/yyyy"}}</td>
            <!-- <td>
              <button mat-icon-button color="primary" aria-label="Open Master" (click)="placeDetails(data)">
                <mat-icon>forward</mat-icon>
              </button>
            </td> -->

          </tr>
          <tr>
            <td><b>Total</b></td>
            <td>{{sum}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div fxLayout="column" style="background-color: white" [hidden]="nitricReturn" fxFlex="60" class="mr-1">
      <!--    delete the style from div it's for testing -->
      <h1>nitricReturn</h1>

      <div class="jobTask-table-div" >
        <table class="table" id="my-table">
          <thead>
          <tr>
            <th>SL No.</th>
            <!-- <th>Job Number</th> -->
            <th>Quantity</th>
            <th>Date</th>
            <!-- <th>Send to Task</th> -->
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let data of jobDetailsData ; let indexOfelement = index;">
            <td>{{indexOfelement+1}}</td>
            <!-- <td >{{data.job_number}}</td> -->
            <td>{{data.material_quantity}}</td>
            <td>{{data.created_at | date:"dd/MM/yyyy"}}</td>
            <!-- <td>
              <button mat-icon-button color="primary" aria-label="Open Master" (click)="placeDetails(data)">
                <mat-icon>forward</mat-icon>
              </button>
            </td> -->

          </tr>
          <tr>
            <td><b>Total</b></td>
            <td>{{sum}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
</div>







<div fxLayout.xs="column" [hidden]="!formTaskDiv" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id="job-div">
  <div fxLayout="column" fxFlex="40" class="mr-1">
<!--    <div class="form-container">-->
<!--&lt;!&ndash;      <button (click)="backFunction()">Back</button>&ndash;&gt;-->
<!--      <form [formGroup] = jobTaskForm>-->
<!--        <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">-->
<!--          <label class="m-2">Job Number: {{jobNumber}}</label>-->
<!--          <div class="container" fxLayout="row">-->
<!--            <mat-form-field class="col-4">-->
<!--              <input matInput placeholder="Material Name" formControlName="material_name">-->
<!--            </mat-form-field>-->
<!--            <mat-form-field class="col-4">-->
<!--              <input matInput placeholder="Size" formControlName="size">-->
<!--            </mat-form-field>-->
<!--          </div>-->
<!--          <mat-form-field class="col-4">-->
<!--            <input  style ="text-align: right;" matInput placeholder="Quantity" formControlName="return_quantity">-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--      </form>-->
<!--      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" >-->
<!--        <button mat-button  mat-stroked-button (click)="onSubmit()">save</button>-->
<!--      </div>-->
<!--    </div>-->



  </div>
<!--  <div fxLayout="column" style="background-color: white" [hidden]="goldReturn" fxFlex="60" class="mr-1">-->
<!--&lt;!&ndash;    delete the style from div it's for testing &ndash;&gt;-->
<!--    <h1>goldReturn</h1>-->

<!--    <div id="jobTask-table-div" >-->
<!--      <table class="table" id="my-table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>SL No.</th>-->
<!--          &lt;!&ndash; <th>Job Number</th> &ndash;&gt;-->
<!--          <th>Quantity</th>-->
<!--          <th>Date</th>-->
<!--          &lt;!&ndash; <th>Send to Task</th> &ndash;&gt;-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr  *ngFor="let data of jobDetailsData ; let indexOfelement = index;">-->
<!--          <td>{{indexOfelement+1}}</td>-->
<!--          &lt;!&ndash; <td >{{data.job_number}}</td> &ndash;&gt;-->
<!--          <td>{{data.material_quantity}}</td>-->
<!--          <td>{{data.created_at | date:"dd/MM/yyyy"}}</td>-->
<!--          &lt;!&ndash; <td>-->
<!--            <button mat-icon-button color="primary" aria-label="Open Master" (click)="placeDetails(data)">-->
<!--              <mat-icon>forward</mat-icon>-->
<!--            </button>-->
<!--          </td> &ndash;&gt;-->

<!--        </tr>-->
<!--        <tr>-->
<!--          <td><b>Total</b></td>-->
<!--          <td>{{sum}}</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->


  </div>
<!--  <div fxLayout="column" style="background-color: white" [hidden]="dalSubmit" fxFlex="60" class="mr-1">-->
<!--    &lt;!&ndash;    delete the style from div it's for testing &ndash;&gt;-->
<!--    <h1>dalSubmit</h1>-->

<!--    <div id="jobTask-table-div" >-->
<!--      <table class="table" id="my-table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>SL No.</th>-->
<!--          &lt;!&ndash; <th>Job Number</th> &ndash;&gt;-->
<!--          <th>Quantity</th>-->
<!--          <th>Date</th>-->
<!--          &lt;!&ndash; <th>Send to Task</th> &ndash;&gt;-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr  *ngFor="let data of jobDetailsData ; let indexOfelement = index;">-->
<!--          <td>{{indexOfelement+1}}</td>-->
<!--          &lt;!&ndash; <td >{{data.job_number}}</td> &ndash;&gt;-->
<!--          <td>{{data.material_quantity}}</td>-->
<!--          <td>{{data.created_at | date:"dd/MM/yyyy"}}</td>-->
<!--          &lt;!&ndash; <td>-->
<!--            <button mat-icon-button color="primary" aria-label="Open Master" (click)="placeDetails(data)">-->
<!--              <mat-icon>forward</mat-icon>-->
<!--            </button>-->
<!--          </td> &ndash;&gt;-->

<!--        </tr>-->
<!--        <tr>-->
<!--          <td><b>Total</b></td>-->
<!--          <td>{{sum}}</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->

<!--  </div>-->
<!--  <div fxLayout="column" style="background-color: white" [hidden]="dalReturn" fxFlex="60" class="mr-1">-->
<!--    &lt;!&ndash;    delete the style from div it's for testing &ndash;&gt;-->
<!--    <h1>dalReturn</h1>-->

<!--    <div id="jobTask-table-div" >-->
<!--      <table class="table" id="my-table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>SL No.</th>-->
<!--          &lt;!&ndash; <th>Job Number</th> &ndash;&gt;-->
<!--          <th>Quantity</th>-->
<!--          <th>Date</th>-->
<!--          &lt;!&ndash; <th>Send to Task</th> &ndash;&gt;-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr  *ngFor="let data of jobDetailsData ; let indexOfelement = index;">-->
<!--          <td>{{indexOfelement+1}}</td>-->
<!--          &lt;!&ndash; <td >{{data.job_number}}</td> &ndash;&gt;-->
<!--          <td>{{data.material_quantity}}</td>-->
<!--          <td>{{data.created_at | date:"dd/MM/yyyy"}}</td>-->
<!--          &lt;!&ndash; <td>-->
<!--            <button mat-icon-button color="primary" aria-label="Open Master" (click)="placeDetails(data)">-->
<!--              <mat-icon>forward</mat-icon>-->
<!--            </button>-->
<!--          </td> &ndash;&gt;-->

<!--        </tr>-->
<!--        <tr>-->
<!--          <td><b>Total</b></td>-->
<!--          <td>{{sum}}</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->

<!--  </div>-->
<!--  <div fxLayout="column" style="background-color: white" [hidden]="panSubmit" fxFlex="60" class="mr-1">-->
<!--    <h1>panSubmit</h1>-->

<!--    <div id="jobTask-table-div" >-->
<!--      <table class="table" id="my-table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>SL No.</th>-->
<!--          &lt;!&ndash; <th>Job Number</th> &ndash;&gt;-->
<!--          <th>Quantity</th>-->
<!--          <th>Date</th>-->
<!--          &lt;!&ndash; <th>Send to Task</th> &ndash;&gt;-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr  *ngFor="let data of jobDetailsData ; let indexOfelement = index;">-->
<!--          <td>{{indexOfelement+1}}</td>-->
<!--          &lt;!&ndash; <td >{{data.job_number}}</td> &ndash;&gt;-->
<!--          <td>{{data.material_quantity}}</td>-->
<!--          <td>{{data.created_at | date:"dd/MM/yyyy"}}</td>-->
<!--          &lt;!&ndash; <td>-->
<!--            <button mat-icon-button color="primary" aria-label="Open Master" (click)="placeDetails(data)">-->
<!--              <mat-icon>forward</mat-icon>-->
<!--            </button>-->
<!--          </td> &ndash;&gt;-->

<!--        </tr>-->
<!--        <tr>-->
<!--          <td><b>Total</b></td>-->
<!--          <td>{{sum}}</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->

<!--  </div>-->
<!--  <div fxLayout="column"  style="background-color: white"[hidden]="panReturn" fxFlex="60" class="mr-1">-->
<!--    &lt;!&ndash;    delete the style from div it's for testing &ndash;&gt;-->
<!--    <h1>panReturn</h1>-->

<!--    <div id="jobTask-table-div" >-->
<!--      <table class="table" id="my-table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>SL No.</th>-->
<!--          &lt;!&ndash; <th>Job Number</th> &ndash;&gt;-->
<!--          <th>Quantity</th>-->
<!--          <th>Date</th>-->
<!--          &lt;!&ndash; <th>Send to Task</th> &ndash;&gt;-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr  *ngFor="let data of jobDetailsData ; let indexOfelement = index;">-->
<!--          <td>{{indexOfelement+1}}</td>-->
<!--          &lt;!&ndash; <td >{{data.job_number}}</td> &ndash;&gt;-->
<!--          <td>{{data.material_quantity}}</td>-->
<!--          <td>{{data.created_at | date:"dd/MM/yyyy"}}</td>-->
<!--          &lt;!&ndash; <td>-->
<!--            <button mat-icon-button color="primary" aria-label="Open Master" (click)="placeDetails(data)">-->
<!--              <mat-icon>forward</mat-icon>-->
<!--            </button>-->
<!--          </td> &ndash;&gt;-->

<!--        </tr>-->
<!--        <tr>-->
<!--          <td><b>Total</b></td>-->
<!--          <td>{{sum}}</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->

<!--  </div>-->
<!--  <div fxLayout="column" style="background-color: white" [hidden]="nitricReturn" fxFlex="60" class="mr-1">-->
<!--    &lt;!&ndash;    delete the style from div it's for testing &ndash;&gt;-->
<!--    <h1>nitricReturn</h1>-->

<!--    <div id="jobTask-table-div" >-->
<!--      <table class="table" id="my-table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>SL No.</th>-->
<!--          &lt;!&ndash; <th>Job Number</th> &ndash;&gt;-->
<!--          <th>Quantity</th>-->
<!--          <th>Date</th>-->
<!--          &lt;!&ndash; <th>Send to Task</th> &ndash;&gt;-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr  *ngFor="let data of jobDetailsData ; let indexOfelement = index;">-->
<!--          <td>{{indexOfelement+1}}</td>-->
<!--          &lt;!&ndash; <td >{{data.job_number}}</td> &ndash;&gt;-->
<!--          <td>{{data.material_quantity}}</td>-->
<!--          <td>{{data.created_at | date:"dd/MM/yyyy"}}</td>-->
<!--          &lt;!&ndash; <td>-->
<!--            <button mat-icon-button color="primary" aria-label="Open Master" (click)="placeDetails(data)">-->
<!--              <mat-icon>forward</mat-icon>-->
<!--            </button>-->
<!--          </td> &ndash;&gt;-->

<!--        </tr>-->
<!--        <tr>-->
<!--          <td><b>Total</b></td>-->
<!--          <td>{{sum}}</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->

<!--  </div>-->
</div>
