<div>
  <mat-card class="ml-2 mt-2">
    <div class="form-container">
      <!--      <button (click)="backFunction()">Back</button>-->
      <h2>Gold Return</h2>
      <form [formGroup] = jobTaskForm>
        <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">

          <div class="container" fxLayout="row">
            <mat-form-field class="col-4">
              <input matInput placeholder="Material Name" formControlName="material_name">
            </mat-form-field>
            <mat-form-field class="col-4">
              <input matInput placeholder="Size" [readonly]="true" formControlName="size">
            </mat-form-field>
          </div>
          <mat-form-field class="col-4">
            <input  style ="text-align: right;" matInput placeholder="Quantity" formControlName="return_quantity">
          </mat-form-field>
        </div>
      </form>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" >
        <!--          <button mat-button  mat-stroked-button (click)="testing()">show</button>-->
        <button mat-button  mat-stroked-button class="btn btn-primary"(click)="onSubmit()">Save</button>
        <button mat-button  mat-stroked-button class="btn btn-primary" (click)="getTotal()" >Get Total</button>
      </div>
    </div>
  </mat-card>
</div>
