<div style="background-color: #d9dd9b" >
  <mat-card style="background-color: #e8c50e" >
    <mat-card style="background-color: lightgray" class="d-flex" >

      <div class="col-9">
        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Tag..." [(ngModel)]="searchTag" name="search" type="text" autofocus>
          </mat-form-field>
        </div>
        <table class="table table-hover">
          <thead style="background-color: lightslategray">
          <th>SL NO.</th>
          <th>Tag</th>
          <th>Model Name</th>
          <th>Size</th>
          <th>Gold</th>
          <th>Gross Weight</th>
          <th>Amount</th>
          <th>Quantity</th>
          <th>Add For Billing</th>
          </thead>
          <tbody>
          <tr *ngFor="let indexOfElement = index; let item of stockList |filter: searchTag">
            <td>{{indexOfElement+1}}</td>
            <td>{{item.tag | uppercase}}</td>
            <td>{{item.model_number}}</td>
            <td>{{item.size}}</td>
            <td>{{item.gold}}</td>
            <td>{{item.gross_weight}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.quantity}}</td>
            <td style="text-align: center">
<!--              <input type="checkbox" name="nameOfChoice" [disabled]="item.isSet" (click)="stockSelectionForBill(item)"  >-->
              <button mat-icon-button color="primary" aria-label="" [disabled]="item.isSet" (click)="stockSelectionForBill(item)" >
                <mat-icon>add</mat-icon>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-3" style="text-align: center; background-color: #d9dd9b">
        <h2>Stock Bill Entry</h2>
        <div *ngIf="billDetailsData.length===0">
        <h4>No Entry</h4>
      </div>
        <div  *ngIf="billDetailsData.length>0">
          <table class="table table-hover">
            <thead style="background-color: lightslategray">
            <th>SL NO.</th>
            <th>Tag</th>
            <th>Delete</th>

            </thead>
            <tbody>
            <tr *ngFor="let indexOfElement = index; let item of billDetailsData">
              <td>{{indexOfElement+1}}</td>
              <td>{{item.tag | uppercase}}</td>
              <td>
                <button mat-icon-button color="accent" aria-label="" (click)="removeFromStockBillEntry(item)" >
                  <mat-icon>delete</mat-icon>
                </button>

              </td>
            </tr>
            </tbody>
          </table>
          <button class="btn badge-info" (click)="stockBillGenerate()">Generate Bill</button>
        </div>

      </div>

    </mat-card>



  </mat-card>


</div>
<!--<div>-->
<!--  <pre>{{stockList | json}}</pre>-->
<!--</div>-->
