<div fxLayout.xs="column"  fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id ="bill-orderDetails-div">
  <div  fxFlex="100" class="col">
    <div style="text-align: right">
      <button class="btn-primary"
              mat-stroked-button
              [printStyle]="printDivStyle"
              printSectionId="printBillDiv"
              ngxPrint ><mat-icon>print</mat-icon>
      </button>
    </div>
    <div id="printBillDiv">
      <table class="table" >
        <thead>
        <tr>
          <th>SL No.</th>
          <th>Customer Name</th>
          <th>LC Due</th>
          <th>Gold Due</th>
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let data of customerList; let indexOfelement = index" >
          <td>{{indexOfelement+1}}</td>
          <td>{{data.person_name | uppercase}}</td>
          <td>{{data.LC_Due.toFixed(3)}}</td>
          <td>{{data.gold_due.toFixed(3)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



