<div fxLayout.xs="column"  fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id ="bill-orderDetails-div">
  <div  fxFlex="100" class="col" >
    <table class="table" >
      <thead>
      <tr>
        <th>SL No.</th>
        <th>Customer Name</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let data of customerList; let indexOfelement = index" >
        <td>{{indexOfelement+1}}</td>
        <td>{{data.person_name | uppercase}}</td>
<!--        <td>-->
<!--          <button  mat-icon-button color="primary" aria-label="Open Details" style="text-align: center" [routerLink]="['./bill_jobMaster_details',data.id]" (click)="disablePage()">-->
<!--            <mat-icon>forward</mat-icon>-->
<!--          </button>-->
<!--        </td>-->
      </tr>
      </tbody>
    </table>

  </div>
</div>



