<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id="stock-div" *ngIf="!showStockList">
  <div fxLayout="column" fxFlex="40" class="mr-1">
    <mat-card class="ml-2 mt-2">
      <div class="form-container" id = "stock-form">
<!--        <pre>{{stockData | json}}</pre>-->
        <form [formGroup] = stockForm>

          <mat-form-field class="col-12">
            <mat-label>Customer Name</mat-label>
            <input matInput formControlName="person_name" [readonly]="true">
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Order Name</mat-label>
            <input matInput formControlName="order_name" [readonly]="true">
          </mat-form-field>

          <mat-form-field class="col-3">
            <mat-label>Quantity</mat-label>
            <input type="number" matInput formControlName="quantity" [readonly]="true">
          </mat-form-field>

          <mat-form-field class="col-3">
            <mat-label>Approx_gold</mat-label>
            <input type="number" matInput formControlName="approx_gold" [readonly]="true">
          </mat-form-field>

          <mat-form-field class="col-3">
            <mat-label>Gross Weight</mat-label>
            <input type="number" matInput formControlName="gross_weight" [readonly]="true">
          </mat-form-field>

          <mat-form-field class="col-3">
            <mat-label>Amount</mat-label>
            <input type="number" matInput formControlName="amount" [readonly]="true">
          </mat-form-field>


          <mat-form-field class="col-12">
            <mat-label>Division</mat-label>
            <input type="number" matInput formControlName="division" (blur)="calculateDivision()">
          </mat-form-field>

          <div style="text-align: right">
            <button class="btn btn-primary" [hidden]="!stockForm.value.set_quantity" (click)="saveStock()" i>Submit</button>
          </div>

        </form>
<!--       <div>-->
<!--         <pre>{{stockForm.value |json}}</pre>-->
<!--       </div>-->


      </div>

    </mat-card>
  </div>
  <div fxLayout="column" fxFlex="60" class="mr-1">
<!--    <mat-card [hidden]="stockList.length === 0">-->
    <mat-card [hidden]="stockList.length === 0">
      <table class="table" id="my-table" id="stock-table-div">
        <thead>
          <tr>
            <th>SL. NO.</th>
            <th>Name</th>
            <th>Gold</th>
            <th>Gross Weight</th>
            <th>Quantity</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stcoks of stockList;let indexOfelement = index;">
            <td>{{indexOfelement+1}}</td>
            <td>{{stcoks.order_name}}</td>
            <td  style="text-align: right">{{stcoks.set_gold}} gm</td>
            <td  style="text-align: right">{{stcoks.set_gross_weight}} gm</td>
            <td style="text-align: right">{{stcoks.set_quantity}}</td>
            <td  style="text-align: right">{{stcoks.set_amount | currency:"&#8377;"}}</td>
          </tr>
        </tbody>

      </table>
    </mat-card>

  </div>
</div>

<div  *ngIf="showStockList">
  <mat-card style="background-color: black">
    <mat-card style="background-color: #d9dd9b">
      <table class="table table-hover">
        <thead style="background-color: lightslategray">
        <th>SL NO.</th>
        <th>Model Name</th>
        <th>Tag</th>
        <th>Gold</th>
        <th>Amount</th>
        <th>Quantity</th>
        </thead>

        <tbody>
        <tr *ngFor="let item of stockData ; let indexofElement = index">
          <td>{{indexofElement+1}}</td>
          <td>{{item.model_number}}</td>
          <td>{{item.tag | uppercase}}</td>
          <td>{{item.gold}}</td>
          <td>{{item.amount}}</td>
          <td>{{item.quantity}}</td>
        </tr>
        </tbody>

      </table>
    </mat-card>

  </mat-card>


</div>


