<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id="stock-div">
  <div fxLayout="column" fxFlex="40" class="mr-1">
    <mat-card class="ml-2 mt-2">
      <div class="form-container">
<!--        <pre>{{stockData | json}}</pre>-->
        <form [formGroup] = stockForm>
          <div>
            <mat-form-field class="col-12">
              <mat-label>Select Order</mat-label>
              <mat-select  formControlName="order_details_id">
                <mat-option *ngFor="let stocks of stockData" [value]="stocks.order_details_id" (blur)="findStock(stocks.order_details_id)">
                  {{stocks.order_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="col-4">
              <mat-placeholder>Quantity</mat-placeholder>
              <input matInput type="text" formControlName="quantity" [readonly]="true" class="text-right">
            </mat-form-field>
            <mat-form-field class="col-4">
              <mat-placeholder>Amount</mat-placeholder>
              <input matInput type="text" formControlName="amount" [readonly]="true" class="text-right">
            </mat-form-field>
            <mat-form-field class="col-4">
              <mat-placeholder>Gold</mat-placeholder>
              <input matInput type="text" formControlName="approx_gold" [readonly]="true" class="text-right">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="col-4">
              <mat-placeholder>Division</mat-placeholder>
<!--              <input matInput type="text" formControlName="division"  class="text-right"  (blur)="calculateDivision()" >{{stockForm.value.quantity % stockForm.value.division === 0 ? stockForm.value.division : "improper entry"}}-->
              <input matInput type="text" formControlName="division"  class="text-right"  (blur)="calculateDivision()" >
            </mat-form-field>
<!--              <label style="margin-left: 20px; margin-top: 10px" [hidden]="calculateDivision()">Invalid Division</label>-->
          </div>
<!--          <div>-->
<!--            <mat-form-field fxFlex="20">-->
<!--              <mat-placeholder>Quantity</mat-placeholder>-->
<!--              <input matInput type="text" formControlName="set_quantity" [readonly]="true" class="text-right">-->
<!--            </mat-form-field>-->
<!--            <mat-form-field fxFlex="20">-->
<!--              <mat-placeholder>Amount</mat-placeholder>-->
<!--              <input matInput type="text" formControlName="set_amount" [readonly]="true" class="text-right">-->
<!--            </mat-form-field>-->
<!--            <mat-form-field fxFlex="20">-->
<!--              <mat-placeholder>Gold</mat-placeholder>-->
<!--              <input matInput type="text" formControlName="set_gold" [readonly]="true" class="text-right">-->
<!--            </mat-form-field>-->
<!--          </div>-->
          <div style="text-align: right">
            <button class="btn btn-primary mr-2" [hidden]="this.stockForm.value.set_quantity == null" (click)="saveStock()">Save</button>
<!--            <button class="btn btn-primary" [disabled]="!calculateDivision()" (click)="setStock()">Set</button>-->
<!--            <button class="btn btn-primary" (click)="setStock()">Set</button>-->
          </div>
        </form>
      </div>
    </mat-card>
  </div>
  <div fxLayout="column" fxFlex="60" class="mr-1">
    <mat-card>
      <table class="table" id="my-table">
        <thead>
          <tr>
            <th>SL. NO.</th>
            <th>Name</th>
            <th>Gold</th>
            <th>Quantity</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stcoks of stockList;let indexOfelement = index;">
            <td>{{indexOfelement+1}}</td>
            <td>{{stcoks.order_name}}</td>
            <td>{{stcoks.set_gold}}gm</td>
            <td>{{stcoks.set_quantity}}</td>
            <td>{{stcoks.set_amount}}</td>
          </tr>
        </tbody>

      </table>
    </mat-card>

  </div>
</div>
