<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id="order-div">
  <div fxLayout="column" fxFlex="40" class="mr-1">
    <mat-card class="ml-2 mt-2">
      <div class="form-container">
        <form [formGroup] = orderForm >
          <div>
            <div class="row">
              <mat-form-field>
                <mat-label>Customer</mat-label>
                <mat-select  formControlName="customer_id">
                  <mat-option *ngFor="let customer of customerList" [value]="customer.id">
                    {{customer.person_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field>
                <mat-label>Agent</mat-label>
                <mat-select  formControlName="agent_id">
                  <mat-option *ngFor="let agent of agentList" [value]="agent.id">
                    {{agent.person_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field>
                <mat-label>Material</mat-label>
                <mat-select  formControlName="material_id">
                  <mat-option *ngFor="let material of materialList" [value]="material.id">
                    {{material.material_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>
        </form>
      </div>
    </mat-card>

  </div>
  <div fxLayout="column" fxFlex="60" class="mr-1">

  </div>
</div>

